.page__header__links
    z-index 2
    width 662px
    max-width 100%
    margin 0 auto

.page__menu
    display flex
    flex-flow column
    justify-content space-between
    @media (min-width 960px)
        flex-flow row

.page__menu__item
    flex 0 0 100%
    font-size 14px
    line-height 30px
    color #fffefe
    text-align center
    @media (min-width 960px)
        display block
        flex 0 0 33%
        white-space nowrap
        font-size 15px
        &:hover
            text-shadow 0 0 5px #1f1f1f
    @media(min-width 1360px)
        font-size 16px
