@import url('https://fonts.googleapis.com/css?family=Merriweather&subset=cyrillic');
@font-face {
    font-family: 'OswaldHeavy';
    src: url('../fonts/OswaldHeavy/Oswald-Heavy.eot');
    src: url('../fonts/OswaldHeavy/Oswald-Heavy.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OswaldHeavy/Oswald-Heavy.woff2') format('woff2'),
        url('../fonts/OswaldHeavy/Oswald-Heavy.woff') format('woff'),
        url('../fonts/OswaldHeavy/Oswald-Heavy.ttf') format('truetype'),
        url('../fonts/OswaldHeavy/Oswald-Heavy.svg#Oswald-Heavy') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'OswaldDemiBold';
    src: url('../fonts/OswaldDemiBold/Oswald-DemiBold.eot');
    src: url('../fonts/OswaldDemiBold/Oswald-DemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OswaldDemiBold/Oswald-DemiBold.woff2') format('woff2'),
        url('../fonts/OswaldDemiBold/Oswald-DemiBold.woff') format('woff'),
        url('../fonts/OswaldDemiBold/Oswald-DemiBold.ttf') format('truetype'),
        url('../fonts/OswaldDemiBold/Oswald-DemiBold.svg#Oswald-DemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
}
