// GUI stylies of the project
// For example, styles of the links, buttons and so on.

.page__content__btn
    background #cf1515
    background -moz-linear-gradient(left,  #cf1515 0%, #c21616 100%)
    background -webkit-linear-gradient(left,  #cf1515 0%,#c21616 100%)
    background linear-gradient(to right,  #cf1515 0%,#c21616 100%)
    padding 30px 40px
    font-size 18px
    line-height 30px
    letter-spacing .5px
    color #fff
    text-transform uppercase
    vertical-align middle
    text-decoration none
    margin auto
    white-space nowrap
    display inline-block
    width 380px

    .page__content__btn__svg
        color #fff
        max-width 30px
        fill #fff
        vertical-align middle
        margin-right 25px
