// GUI stylies of the project
// For example, styles of the links, buttons and so on.

.page__content__btn
    box-sizing border-box
    display flex
    align-items center
    background linear-gradient(to right,  #cf1515 0%,#c21616 100%)
    color #fff
    font-size 14px
    line-height 22px
    text-transform uppercase
    text-decoration none
    margin auto
    max-width 100%
    padding 14px 27px
    @media (min-width 960px)
        padding 25px
        font-size 16px
        letter-spacing .5px
        width 390px
    @media (min-width 1360px)
        padding 30px 40px
        font-size 18px
        line-height 30px
        width 450px


    .page__content__btn__svg
        width 24px
        height 23px
        margin-right 22px
        @media (min-width 960px)
            width 30px
            height 27px
            margin-right 10px
