.page__footer
    color #fff
    min-height 100vh
    background-image url("/static/img/general/footer__background.jpg")
    background-size cover
    background-position center
    display flex
    align-items center

.page__footer__wrapper
    text-align center
    mask-image url('/static/img/general/footer__mask.png')
    mask-repeat no-repeat
    mask-size cover
    mask-position center
    height 100vh
    box-sizing border-box
    padding 108px 20%
    @media (min-width 1920px)
        padding-top 220px

    h1
        font-size 132px
        line-height 46px
        font-family 'OswaldDemiBold', sans-serif
        margin-top 111px
        @media (min-width 1920px)
            margin-top 205px
            font-size 165px
            line-height 45px

