.page__content__counters
    background-image url("/static/img/general/counters__background.jpg");
    background-size cover
    display flex

.page__content__counters__items
    display flex
    width 100%
    margin auto 45px
    @media (min-width 1920px)
        margin auto 10%
        width 80%

.page__content__counter
    color #fff;
    width calc(100% / 4)
    padding-right 4%
    @media (min-width 1920px)
        padding-right 7%

.page__content__counter__value
    line-height 45px
    color #fff
    margin-bottom 0
    @media (min-width 1920px)
        line-height 65px

.page__content__counter__units
    margin 0 0 40px
    color #fff

.page__content__counter__descr
    color #fffefe
