.page__content__actions
    display flex
    flex-wrap wrap
    h2
        margin-bottom 0

    em
        color #3c3939

.page__content__actions__items
    display flex
    margin-top 60px
    justify-content space-between

.page__content__actions__item
    flex 0 0 30%
    padding-right 75px

    h3
        font-size 30px
