<div class="page__content__wrapper">
    <h2>{{heading}}</h2>
    <em>{{descr}}</em>
    <div class="page__content__actions__items">
        {{#each items}}
            <div class="page__content__actions__item">
                <h3>{{{title}}}</h3>
                <p>{{{descr}}}</p>
            </div>
        {{/each}}
    </div>
</div>
<a href="{{file}}" class="page__content__btn">
    <img class="page__content__btn__svg" src="/static/img/minified-svg/pdf.svg" alt="">
    <span>ОЗНАКОМИТЕЛЬНАЯ ЛИСТОВКА</span>
</a>
