.page__content__actions
    display flex
    flex-wrap wrap
    h2
        @media (min-width 960px)
            margin-bottom 0

    em
        color #3c3939

.page__content__actions__items
    display flex
    flex-wrap wrap
    margin-top 30px
    @media (min-width 960px)
        margin-top 60px
        justify-content space-between

.page__content__actions__item
    box-sizing border-box
    flex 0 0 100%
    margin-bottom 30px
    @media (min-width 960px)
        flex 0 0 30%
        margin-bottom 60px
    @media (min-width 1920px)
        padding-right 20px

    h3
        font-size 24px
        line-height 30px
        margin 20px 0
        @media (min-width 960px)
            margin 30px 0
        @media (min-width 1360px)
            font-size 30px

.page__content__actions__phone
    color #f33f3f
