.page__content__textBox
    display flex
    align-items center
    margin-bottom 0
    background-repeat no-repeat
    background-size contain

    em
        width 53vw
        margin 0 auto

.page__content__textBox-rightImg
    color #342d2d
    background-position 90% 100%

.page__content__textBox-leftImg
    color #1f1f1f
    background-position 0 100%

.page__content__textBox-red
    background-color #cc1212
    justify-content center
    margin-bottom 120px
    h2
        color #fff
